/* FUENTES */
@font-face {
    font-family: 'fuente1';
    src: url(../fonts/playfairdisplay/static/PlayfairDisplay-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente1-cursiva';
    src: url(../fonts/playfairdisplay/static/PlayfairDisplay-Italic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente3';
    src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente4';
    src: url(../fonts/Kapakana/static/Kapakana-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fuente5';
    src: url(../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'fuente7';
    src: url(../fonts/Parisienne/Parisienne-Regular.ttf);
}

    
/********* COLORES *********/
:root {
    /* COLORES */
    --terracotagpt: #cb997e; /* Terracota */
    --terracota-oscuro: #5c280c;
    --olive:#808000;
    --olivogpt: #6b705c; /* Títulos */
    --beige1: #E8D8C3;
    --beigegpt: #f5f1e8; /* Fondo */
    --gris: #3e3e3e; /* Descripción */
    --dorado: hsl(60, 70%, 90%);
}


body {
    margin: 0;
    background-color: white;
    background-image: url(../img/textura-papel.jpg);
}

main {
    max-width: 80%;
    background-color: var(--beigegpt);
    box-shadow: 0px 0px 30px 3px rgb(0 0 0 / 50%);
    margin-left: auto;
    margin-right: auto;
}   

a {
    text-decoration: none;
}

#header-card-index {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/paisaje-fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    text-align: center;
    color: #fff;
}

#header-card-index #header-card-index-label-1 {
    font-family: 'fuente1';
    margin: 0;
}

#header-card-index #sobre-closed-img {
    margin: 0;
    display: inline-block;
    width: auto;
    max-height: 50vmin;
}


#header-card-index #header-card-index-label-2 {
    font-family: 'fuente4';
    font-size: 5em;
    margin: 0;
    margin-bottom: 1rem;
}

#header-card-index #header-card-index-label-3 {
    font-family: 'fuente1';
    margin: 0;
}












/* --------------- HEADER CARD -------------- */

#header-card {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    margin: 0;
    padding: 3rem;
    background: url("../img/propuesta-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center ;
    color: #fff;
    overflow: hidden;
}

#header-card #corazon-bordado-img {
    position: absolute;
    margin: 0;
    z-index: 2;
    width: 100%;
    max-width: 30rem;
    pointer-events: none;
    transform: translateX(-50%);
    top: 3rem;
    left: 50%;
}

#header-card #sobre-opened-img {
    z-index: 1;
    width: 100%;
    max-width: 30rem;
    margin: 0;
    margin-bottom: 1rem;
    display: inline-block;
}

#header-card #header-label-1,
#header-card #header-label-2 {
    font-family: 'fuente4';
    font-size: 2.5em;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}










/* ---------- NOMBRES ESPOSOS CARD ------------ */

#nombres-esposos-card {
    text-align: center;
    margin: 0;
    padding: 5rem 3rem;
}

#nombres-esposos-card #logo-ze {
    display: block;
    min-width: 15rem;
    margin: 0 auto;
}

#nombres-esposos-card p {
    font-family: 'fuente1-cursiva';
    font-size: 1.7em;
    color: var(--gris);
}

#nombres-esposos-card #nombres-esposos-label-2 {
    font-size: 7em;
    font-family: 'fuente4';
    color: var(--terracota-oscuro);
    margin: 0;
}

#nombres-esposos-card #amphersant {
    font-family: 'fuente1';
    font-size: .6em;
    margin: 0;
}

#nombres-esposos-card .nombres-esposos-divider {
    width: 10rem;
    height: .15rem;
    background-color: var(--terracotagpt);
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
}














/* ------------- TIMER CARD -------------- */

#timer-card {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    align-content: center;
    background-color: var(--olivogpt);
    width: 100%;
}

#timer-card #timer-decoration {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#timer-card .timer-linea-l, 
#timer-card .timer-linea-r {
    display: inline-block;
    width: 20rem;
    height: .11rem;
    background-color: var(--beigegpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#timer-card .timer-punto {
    display: inline-block;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: var(--beigegpt);
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

#timer-card .timer-div {
    display: inline-block;
    text-align: center;
    align-content: center;
}

#timer-card .tiempo {
    font-family: 'fuente4';
    width: 8rem;
    height: 8rem;
    background-color: var(--olivogpt);
    border-radius: 50%;
    align-content: center;
    text-align: center;
    color: var(--dorado);
    font-size: 4em;
    margin: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}

#timer-card .descripcion {
    font-family: 'fuente4';
    font-size: 2em;
    margin: 0;
    color: var(--beigegpt);
}

#timer-card .punto {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--terracotagpt);
    margin: 0;
    margin-bottom: 5.5rem;
}











/* -------------- CEREMONIA | CELEBRATION | VESTUARIO CARDS -------------- */

#ceremonia-card,
#celebration-card,
#vestuario-card {
    width: 100%;
    height: 83rem;
    padding: 5rem;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#ceremonia-card {
    background-color: var(--terracotagpt);
    color: var(--beigegpt);
}

#celebration-card {
    background-color: var(--olivogpt);
    color: var(--beigegpt);
}

#vestuario-card {
    background-color: var(--beigegpt);
    color: var(--olivogpt);
}

#ceremonia-card .icon,
#celebration-card .icon,
#vestuario-card .icon {
    max-width: 5rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

#ceremonia-card #ceremonia-title,
#celebration-card #celebration-title,
#vestuario-card #vestuario-title {
    font-family: 'fuente1';
    font-size: 3em;
    padding: 1rem 0;
    margin: 8rem auto;
}

#ceremonia-card #ceremonia-label-1,
#celebration-card #celebration-label-1,
#vestuario-card #vestuario-label-1,
#vestuario-card #vestuario-label-2,
#vestuario-card #vestuario-label-4 {
    font-size: 2em;
    font-family: 'fuente3';
    margin: 2rem auto;
}

#ceremonia-card #ceremonia-label-2,
#ceremonia-card #ceremonia-label-3,
#ceremonia-card #ceremonia-label-4,
#celebration-card #celebration-label-2,
#celebration-card #celebration-label-3,
#celebration-card #celebration-label-4,
#vestuario-card #vestuario-label-3,
#vestuario-card #vestuario-label-5 {
    font-size: 2.4em;
    font-family: 'fuente7';
    margin: 2rem auto;
}

#vestuario-card #vestuario-label-3,
#vestuario-card #vestuario-label-5 {
    color: var(--olive);
}

#ceremonia-card #ceremonia-date-box,
#celebration-card #celebration-date-box {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ceremonia-card #ceremonia-label-fecha,
#ceremonia-card #ceremonia-label-hora,
#celebration-card #celebration-label-fecha,
#celebration-card #celebration-label-hora {
    font-family: 'fuente1';
    font-size: 3.5em;
    display: inline-block;
    margin: 0;
}

#ceremonia-card #ceremonia-decoration,
#celebration-card #celebration-decoration {
    display: inline-block;
    margin: 4rem;
    margin-bottom: auto;
    margin-top: auto;
}

.decoration-linea-t,
.decoration-linea-b {
    width: .2rem;
    height: 2rem;
    background-color: var(--beigegpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.decoration-punto {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: var(--beigegpt);
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#ceremonia-card #ceremonia-button,
#celebration-card #celebration-button {
    width: 50%;
    height: 4rem;
    background-color: transparent;
    color: white;
    border: 0;
    font-family: 'fuente5';
    font-size: 3em;
    text-decoration: none;
    border-radius: .3rem;
    display: block;
    margin: auto;
    margin-top: 10rem;
}



/* --------------- VESTUARIO CARD -------------- */

#vestuario-card #vestuario-palette-box {
    margin: 0;
    padding: 0;
}

#vestuario-card #vestuario-palette-box .vestuario-color {
    min-width: 5rem;
    min-height: 2rem;
    display: inline-block;

}

#vestuario-card #vestuario-palette-box #vestuario-color-1 {
    background-color: var(--beige1);
}

#vestuario-card #vestuario-palette-box #vestuario-color-2 {
    background-color: var(--terracotagpt);
}

#vestuario-card #vestuario-palette-box #vestuario-color-3 {
    background-color: var(--olivogpt);
}





/* ==================================================================
   RESPONSIVE - PHONE / TABLET
   ================================================================== */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

@media (max-width: 900px) {
    /* HEADER CARD */
    #header-card #corazon-bordado-img {
        width: 100%;
        max-width: 25rem;
    }

    #header-card #sobre-opened-img {
        height: auto;
        width: 100%;
        max-width: 25rem;
    }

    #header-card #header-label-1,
    #header-card #header-label-2 {
        font-size: 2em;
        padding: 0 5rem;
    }

    /* NOMBRES ESPOSOS CARD */
    #nombres-esposos-card {
        height: 50rem;
    }

    #nombres-esposos-card #logo-ze {
        min-width: 0;
        width: 40%;
        max-width: 10rem;
    }

    #nombres-esposos-card p {
        font-size: 1.3em;
    }

    #nombres-esposos-card #nombres-esposos-label-2 {
        font-size: 4em;
    }

    /* TIMER CARD */
    #timer-card .timer-linea-l,
    #timer-card .timer-linea-r {
        width: 40%;
    }

    #timer-card .tiempo {
        width: 4.2rem;
        height: 4.2rem;
        font-size: 3em;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    #timer-card .descripcion {
        font-size: 2em;
    }

    #timer-card .punto {
        margin-bottom: 2.8rem;
    }

    /* CEREMONIA / CELEBRACION / VESTUARIO CARDS */
    #ceremonia-card,
    #celebration-card,
    #vestuario-card {
        height: 60rem;
    }

    #ceremonia-card .icon,
    #celebration-card .icon,
    #vestuario-card .icon {
        height: 4rem;
    }

    #ceremonia-card #ceremonia-title,
    #celebration-card #celebration-title,
    #vestuario-card #vestuario-title {
        width: 100%;
        max-width: 30rem;
        font-size: 1.8em;
        margin: 3rem auto;
    }

    #ceremonia-card #ceremonia-label-1,
    #celebration-card #celebration-label-1,
    #vestuario-card #vestuario-label-1 {
        font-size: 1.6em;
    }

    #ceremonia-card #ceremonia-label-2,
    #ceremonia-card #ceremonia-label-3,
    #ceremonia-card #ceremonia-label-4,
    #celebration-card #celebration-label-2,
    #celebration-card #celebration-label-3,
    #celebration-card #celebration-label-4,
    #vestuario-card #vestuario-label-2,
    #vestuario-card #vestuario-label-3,
    #vestuario-card #vestuario-label-4,
    #vestuario-card #vestuario-label-5 {
        font-size: 1.8em;
    }

    #ceremonia-card #ceremonia-label-fecha,
    #ceremonia-card #ceremonia-label-hora,
    #celebration-card #celebration-label-fecha,
    #celebration-card #celebration-label-hora {
        font-size: 3em;
    }

    #ceremonia-card #ceremonia-decoration,
    #celebration-card #celebration-decoration {
        margin: 1rem 3rem;
    }

    #ceremonia-card #ceremonia-button,
    #celebration-card #celebration-button {
        margin-top: 4rem;
        width: 100%;
        height: 3.2rem;
        font-size: 1.8em;
    }

    #vestuario-card #vestuario-palette-box .vestuario-color {
        width: 7rem;
        min-height: 1.5rem;
    }
}





@media (max-width: 500px) {
    main {
        max-width: 95%;
    }

    #header-card #corazon-bordado-img {
        width: 17rem;
    }

    #header-card #header-label-1,
    #header-card #header-label-2 {
        font-size: 1.5em;
        padding: 0;
    }

    #nombres-esposos-card {
        height: 100vh;
    }

    #nombres-esposos-card p {
        font-size: 1em;
    }

    #nombres-esposos-card #nombres-esposos-label-2 {
        font-size: 2.35em;
    }

    #timer-card {
        padding: 0;
    }

    #timer-card .tiempo {
        width: 3.6rem;
        height: 3.6rem;
        font-size: 1.9em;
        margin-left: .25rem;
        margin-right: .25rem;
    }

    #timer-card .descripcion {
        font-size: 1.4em;
    }

    #timer-card .timer-linea-l,
    #timer-card .timer-linea-r {
        width: 40%;
    }

    #ceremonia-card,
    #celebration-card,
    #vestuario-card {
        height: 100vh;
        padding: 3rem;
    }

    #ceremonia-card .icon,
    #celebration-card .icon,
    #vestuario-card .icon {
        height: 3rem;
        margin: 1rem auto;
    }

    #ceremonia-card #ceremonia-title,
    #celebration-card #celebration-title,
    #vestuario-card #vestuario-title,
    #ceremonia-card #ceremonia-button,
    #celebration-card #celebration-button {
        font-size: 1.3rem;
        margin: 1rem 0;
    }

    #ceremonia-card #ceremonia-label-1,
    #celebration-card #celebration-label-1,
    #vestuario-card #vestuario-label-1 {
        font-size: 1em;
        margin: 0;
    }

    #ceremonia-card #ceremonia-label-2,
    #ceremonia-card #ceremonia-label-3,
    #ceremonia-card #ceremonia-label-4,
    #celebration-card #celebration-label-2,
    #celebration-card #celebration-label-3,
    #celebration-card #celebration-label-4,
    #vestuario-card #vestuario-label-2,
    #vestuario-card #vestuario-label-3 {
        font-size: 1.2em;
        margin: 1rem 0;
    }

    #ceremonia-card #ceremonia-label-fecha,
    #ceremonia-card #ceremonia-label-hora,
    #celebration-card #celebration-label-fecha,
    #celebration-card #celebration-label-hora {
        font-size: 2.5em;
    }

    #ceremonia-card #ceremonia-date-box,
    #celebration-card #celebration-date-box {
        margin: 2.5rem 0;
    }

    #ceremonia-card #ceremonia-decoration,
    #celebration-card #celebration-decoration {
        margin: 0 1.3rem;
    }

}