/* FUENTES */
    @font-face {
        font-family: 'fuente1';
        src: url(../fonts/playfairdisplay/static/PlayfairDisplay-Regular.ttf);
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'fuente1-cursiva';
        src: url(../fonts/playfairdisplay/static/PlayfairDisplay-Italic.ttf);
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'fuente2';
        src: url(../fonts/Playwrite_DE_SAS/static/PlaywriteDESAS-Thin.ttf);
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'fuente3';
        src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'fuente4';
        src: url(../fonts/Kapakana/static/Kapakana-Regular.ttf);
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'fuente5';
        src: url(../fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: 'fuente6';
        src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
    }

    @font-face {
        font-family: 'fuente7';
        src: url(../fonts/Parisienne/Parisienne-Regular.ttf);
    }

    
/********* COLORES *********/
:root {
    /* COLORES */
    --terracota: #C65D3B;
    --terracotafuerte: #A3472C;
    --sienna: #A0522D;
    --chocolate: #D2691E;
    --saddlebrown: #8B4513;
    --terracotagpt: #cb997e; /* Terracota */
    --terracota-oscuro: #5c280c;
    --olivo: #556B2F;
    --olive:#808000;
    --olivogpt: #6b705c; /* Títulos */
    --beige1: #E8D8C3;
    --beige2: #F2EED9;
    --beigegpt: #f5f1e8; /* Fondo */
    --cornsilk: #FFF8DC;
    --beigelight: #F5F5DC;
    --burlywood: #DEB887;
    --humo: #f5f5f5;
    --seco: #888; /* Parrafos */
    --gris: #3e3e3e; /* Descripción */
    --border: 2px solid red;
    --dorado: hsl(60, 70%, 90%);
}

:root {
    /* MEDIDAS SOBRE */
    --closed-height: 20rem;
    --opened-height: 30rem;
}

body {
    margin: 0;
    width: 100%;
    background-image: url(../img/textura-papel.jpg);
    /* background-color: var(--beigegpt); */

}

#header-card-index {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/paisaje-fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    text-align: center;
    color: #fff;
}

#header-card-index #header-card-index-label-1 {
    font-family: 'fuente1';
    margin: 0;
}

#header-card-index #sobre-closed-img {
    margin: 0;
    display: inline-block;
    width: auto;
    max-height: 50vmin;
}


#header-card-index #header-card-index-label-2 {
    font-family: 'fuente4';
    font-size: 5em;
    margin: 0;
    margin-bottom: 1rem;
}

#header-card-index #header-card-index-label-3 {
    font-family: 'fuente1';
    margin: 0;
}












/* --------------- HEADER CARD -------------- */

#header-card {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/propuesta-img.jpg"), linear-gradient(
        hsla(0,100%, 50%,.3),
        hsla(60,100%,50%,.3)
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center ;
    color: #fff;
    overflow: hidden;
}

#header-card #corazon-bordado-img {
    position: absolute;
    margin: 0;
    z-index: 2;
    width: 30rem;
    pointer-events: none;
    transform: translateX(-50%);
    top: 1rem;
    left: 50%;
}

#header-card #sobre-opened-img {
    z-index: 1;
    width: auto;
    height: 35rem;
    margin: 0;
    margin-top: 0;
    display: inline-block;
}

#header-card #header-label-1 {
    font-family: 'fuente4';
    font-size: 3em;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* #header-card #header-label-2 {
    font-family: 'fuente1';
    font-size: 1.2em;
    margin: 0;
}

#header-card #header-label-3 {
    font-family: 'fuente1';
    font-size: 1.6em;
    margin: 0;
}

#header-card #header-label-4 {
    font-family: 'fuente1';
    font-size: 1em;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#header-card button {
    font-family: 'fuente1';
    font-size: 1.2em;
    margin: 0;
    width: 20rem;
    height: 4rem;
    background-color: transparent;
    border: #fff .09rem solid; 
    color: #fff;
}

#header-card button:hover {
    transition: 1s;
    transform: scale(1.05);
    background-color: hsla(60, 100%, 90%, 0.3);
} */











/* ---------- VERSICULO CARD ---------- */

#versiculo-card {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 20rem;
    font-family: 'fuente7';
    text-align: center;
    align-content: center;
    font-size: 1.2em;
    color: var(--olivogpt);
    margin: 0;
    background-color: whitesmoke;
    /* border-top: var(--terracotagpt) .3rem dashed;
    border-bottom: var(--terracotagpt) .3rem dashed; */
    overflow: hidden;
    z-index: 1;
}

#versiculo-card #versiculo-label-1 {
    padding: 0 10rem;
}

#versiculo-card #flores-decoration-corner-1,
#versiculo-card #flores-decoration-corner-3 {
    position: absolute;
    z-index: 0;
    max-width: 13rem;
    margin: 0;
    pointer-events: none;
}

#versiculo-card #flores-decoration-corner-1 {
    top: 0;
    left: 0;
}

#versiculo-card #flores-decoration-corner-3 {
    bottom: 0;
    right: 0;
}

#flores-decoration-top {
    display: block;
    width: 50%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}












/* ---------- NOMBRES ESPOSOS CARD ------------ */

#nombres-esposos-card {
    text-align: center;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0 5rem;
}

#nombres-esposos-card #logo-ze {
    display: block;
    min-width: 20rem;
    margin: 0 auto;
}

#nombres-esposos-card p {
    font-family: 'fuente1-cursiva';
    font-size: 1.7em;
    color: var(--gris);
}

#nombres-esposos-card #nombres-esposos-label-2 {
    font-size: 7em;
    font-family: 'fuente4';
    color: var(--terracota-oscuro);
    margin: 0;
}

#nombres-esposos-card #amphersant {
    font-family: 'fuente1';
    font-size: .6em;
    margin: 0;
}

#nombres-esposos-card .nombres-esposos-divider {
    width: 10rem;
    height: .3rem;
    background-color: var(--terracotagpt);
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
}














/* ------------- TIMER CARD -------------- */

#timer-card {
    /* border: var(--border); */
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    align-content: center;
    background-color: var(--olivogpt);
}

#timer-card #timer-decoration {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#timer-card .timer-linea-l {
    display: inline-block;
    width: 10rem;
    height: .2rem;
    background-color: var(--beigegpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#timer-card .timer-punto {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: var(--beigegpt);
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

#timer-card .timer-linea-r {
    display: inline-block;
    width: 10rem;
    height: .2rem;
    background-color: var(--beigegpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#timer-card .timer-div {
    display: inline-block;
    text-align: center;
    align-content: center;
}

#timer-card .tiempo {
    font-family: 'fuente4';
    width: 8rem;
    height: 8rem;
    background-color: var(--olivogpt);
    border-radius: 50%;
    align-content: center;
    text-align: center;
    color: var(--dorado);
    font-size: 4em;
    margin: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}

#timer-card .descripcion {
    font-family: 'fuente4';
    font-size: 2em;
    margin: 0;
    color: var(--beigegpt);
}

#timer-card .punto {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--terracotagpt);
    margin: 0;
    margin-bottom: 5.5rem;
}











/* -------------- CEREMONIA CARD -------------- */

#ceremonia-card {
    /* border: var(--border); */
    margin: 0 auto;
    margin-top: 5rem;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: var(--beigegpt);
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 40rem;
    height: auto;
}

#ceremonia-card #ceremonia-decoration-border-t {
    display: inline-block;
    width: 50%;
    margin: 1rem auto;
}

#ceremonia-card #ceremonia-decoration-border-b {
    display: inline-block;
    width: 50%;
    margin: 1rem auto;
}

#ceremonia-card .icon {
    max-width: 4rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

#ceremonia-card #ceremonia-title {
    font-size: 2.5em;
    font-family: 'fuente1-cursiva';
    width: 40%;
    padding: 1rem 0;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--olivogpt);
    border-bottom: var(--olivogpt) .2rem dashed;
    /* border: var(--border); */
}

#ceremonia-card #ceremonia-label-1 {
    font-size: 1.5em;
    color: var(--olivogpt);
    font-family: 'fuente3';
    margin: 0 auto;
}

#ceremonia-card #ceremonia-label-2 {
    font-size: 2.4em;
    color: var(--olive);
    font-family: 'fuente7';
    margin: 2rem auto;
}

#ceremonia-card #ceremonia-label-3 {
    font-size: 2.4em;
    color: var(--olive);
    font-family: 'fuente7';
    margin: 0 auto;
}

#ceremonia-card #ceremonia-date-box {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: var(--border); */
}

#ceremonia-card #ceremonia-label-fecha {
    font-family: 'fuente1';
    font-size: 3.5em;
    color: var(--terracotagpt);
    display: inline-block;
    margin: 0;
}

#ceremonia-card #ceremonia-label-hora {
    font-family: 'fuente1';
    color: var(--terracotagpt);
    font-size: 3.5em;
    display: inline-block;
    margin: 0;
}

#ceremonia-card #ceremonia-decoration {
    display: inline-block;
    margin: 4rem;
    margin-bottom: auto;
    margin-top: auto;
}

#ceremonia-card #ceremonia-decoration .decoration-linea-t {
    width: .2rem;
    height: 2rem;
    background-color: var(--olivogpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#ceremonia-card #ceremonia-decoration .decoration-punto {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: var(--olivogpt);
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#ceremonia-card #ceremonia-decoration .decoration-linea-b {
    width: .2rem;
    height: 2rem;
    background-color: var(--olivogpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#ceremonia-label-direccion {
    margin-top: 5rem;
}

#ceremonia-card #ceremonia-button {
    width: 50%;
    height: 4rem;
    background-color: var(--olivogpt);
    color: white;
    font-family: 'fuente5';
    font-size: 1.5em;
    text-decoration: none;
    border-radius: .5rem;
    border: 0;
    display: block;
    margin: 2rem auto;
}







/* --------------- CELEBRACION CARD -------------- */

#celebration-card {
    /* border: var(--border); */
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: var(--beigegpt);
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 40rem;
    height: auto;
}

#celebration-card #celebration-decoration-border-t {
    display: inline-block;
    width: 50%;
    margin: 1rem auto;
}

#celebration-card #celebration-decoration-border-b {
    display: inline-block;
    width: 50%;
    margin: 1rem auto;
}

#celebration-card .icon {
    max-width: 4rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

#celebration-card #celebration-title {
    font-size: 2.5em;
    font-family: 'fuente1-cursiva';
    width: 40%;
    padding: 1rem 0;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--olivogpt);
    border-bottom: var(--olivogpt) .2rem dashed;
    /* border: var(--border); */
}

#celebration-card #celebration-label-1 {
    font-size: 1.5em;
    color: var(--olivogpt);
    font-family: 'fuente3';
    margin: 0 auto;
}

#celebration-card #celebration-label-2 {
    font-size: 2.4em;
    color: var(--olive);
    font-family: 'fuente7';
    margin: 2rem auto;
}

#celebration-card #celebration-label-3 {
    font-size: 2.4em;
    color: var(--olive);
    font-family: 'fuente7';
    margin: 0 auto;
}

#celebration-card #celebration-date-box {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: var(--border); */
}

#celebration-card #celebration-label-fecha {
    font-family: 'fuente1';
    font-size: 3.5em;
    color: var(--terracotagpt);
    display: inline-block;
    margin: 0;
}

#celebration-card #celebration-label-hora {
    font-family: 'fuente1';
    color: var(--terracotagpt);
    font-size: 3.5em;
    display: inline-block;
    margin: 0;
}

#celebration-card #celebration-decoration {
    display: inline-block;
    margin: 4rem;
    margin-bottom: auto;
    margin-top: auto;
}

#celebration-card #celebration-decoration .decoration-linea-t {
    width: .2rem;
    height: 2rem;
    background-color: var(--olivogpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#celebration-card #celebration-decoration .decoration-punto {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: var(--olivogpt);
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#celebration-card #celebration-decoration .decoration-linea-b {
    width: .2rem;
    height: 2rem;
    background-color: var(--olivogpt);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#celebration-label-direccion {
    margin-top: 5rem;
}

#celebration-card #celebration-button {
    width: 50%;
    height: 4rem;
    background-color: var(--olivogpt);
    color: white;
    font-family: 'fuente5';
    font-size: 1.5em;
    text-decoration: none;
    border-radius: .5rem;
    border: 0;
    display: block;
    margin: 2rem auto;
}






/* --------------- VESTUARIO CARD -------------- */


#vestuario-card {
    /* border: var(--border); */
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: var(--beigegpt);
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 40rem;
    height: auto;
}

#vestuario-card #vestuario-decoration-border-t {
    display: inline-block;
    width: 50%;
    margin: 1rem auto;
}

#vestuario-card #vestuario-decoration-border-b {
    display: inline-block;
    width: 50%;
    margin: 1rem auto;
}

#vestuario-card .icon {
    max-width: 4rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

#vestuario-card #vestuario-title {
    font-size: 2.5em;
    font-family: 'fuente1-cursiva';
    width: 40%;
    padding: 1rem 0;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--olivogpt);
    border-bottom: var(--olivogpt) .2rem dashed;
    /* border: var(--border); */
}

#vestuario-card #vestuario-label-1 {
    font-size: 1.5em;
    color: var(--olivogpt);
    font-family: 'fuente3';
    margin: 0 auto;
}

#vestuario-card #vestuario-label-2 {
    font-size: 2em;
    color: var(--olivogpt);
    font-family: 'fuente3';
    margin: 2rem auto;
}

#vestuario-card #vestuario-label-3 {
    font-size: 2em;
    color: var(--olive);
    font-family: 'fuente7';
}

#vestuario-card #vestuario-label-4 {
    font-size: 2em;
    color: var(--olivogpt);
    font-family: 'fuente3';
    margin: 2rem auto;
}

#vestuario-card #vestuario-label-5 {
    font-size: 2em;
    color: var(--olive);
    font-family: 'fuente7';
}

#vestuario-card #vestuario-palette-box {
    margin: 0;
    padding: 0;
}

#vestuario-card #vestuario-palette-box .vestuario-color {
    min-width: 5rem;
    min-height: 2rem;
    display: inline-block;

}

#vestuario-card #vestuario-palette-box #vestuario-color-1 {
    background-color: var(--beige1);
}

#vestuario-card #vestuario-palette-box #vestuario-color-2 {
    background-color: var(--terracotagpt);
}

#vestuario-card #vestuario-palette-box #vestuario-color-3 {
    background-color: var(--olivogpt);
}





/* ---------- LINE DECORATION -----------  */


.line-decoration-card {
    max-width: 40rem;
    display: block;
    margin: 0 auto;
    padding: 3rem 0;
    background-color: var(--beigegpt);
    text-align: center;
}

.line-decoration-card .line-decoration-linea {
    display: inline-block;
    width: 10rem;
    height: .2rem;
    background-color: var(--olivogpt);
    margin: 0 auto;
}

.line-decoration-card .line-decoration-linea-m {
    display: inline-block;
    width: 5rem;
    height: .2rem;
    background-color: var(--olivogpt);
    margin: 0 auto;
}

.line-decoration-card .line-decoration-punto {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: var(--olivogpt);
    margin: 0 1rem;
}


#flores-decoration-buttom {
    display: block;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}